.App {
  text-align: center;
  margin: 30px;
}
.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.error {
  border: 1px solid red;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  color: red;
  margin-top: 10px;
}
.error-text {
  color: red;
  font-size: 16px;
}
.error-button {
  background: none;
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
