.App {
  margin: 30px;
}
.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  margin: 10px 0;
  background: #f5f6fa;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
  font-weight: 600 !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #9a9899;
  text-align: right;
  width: 40px;
  font-weight: 500;
}

.editor .token {
  font-weight: 600;
  color: #030303;
}
.label {
  color: #4f5a7a;
}
.error {
  border: 1px solid red;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  color: red;
  margin-top: 10px;
}
.error-text {
  color: red;
  font-size: 16px;
}
.error-contents {
  display: flex;
  gap: 10px;
}
.item {
  padding: 4px;
}
.error-button {
  background: none;
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.next-button {
  width: 100%;
  padding: 10px 0px;
  background: #1738a3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
